@import './StyleDepend/mReset.css';
@import './common.css';

// 登陆
#login {
    font-family: PingFang Medium;
    min-height: 100vh;
    padding-top: 40px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
    .login-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    .left-icon {
        width: 20px;
        height: 20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .right-link {
        a {
            font-family: PingFang-SC-Bold;
            color: #fff;
        }
    }

    .logo-img {
        padding: 40px 30px 36px;
        width: 170px;
        height: 170px;
        box-sizing: content-box;
        display: inline-block;

        img {
            width: 170px;
            height: 170px;
        }
    }

    .layui-form {
        padding: 0 30px;
        .my-input {
            .layui-input-block {
                // margin-left: 0;
            }
            input {
                height: 54px;
                line-height: 54px;
                border-radius: 27px;
                padding: 0 16px;
                border: none;
                color: #fff;
                background-color: #1690e5;
            }
            input::placeholder {
                color: #fff;
            }
        }
    }
    .forget-link {
        padding-top: 12px;
        text-align: center;
        a {
            color: #fff;
        }
    }
}

// 忘记密码
#forget {
    // font-family: PingFang Medium;
    padding-top: 32px;
    min-height: 100vh;
    .my-input {
        padding: 0 30px;
    }
    .my-input {
        flex: 1;
        .layui-form-label {
            font-family: PingFang-SC-Bold;
        }
        input {
            border: none;
            height: auto;
            line-height: 1em;
            padding-bottom: 20px;
            padding-left: 0;
        }
        input:placeholder {
            color: #999;
        }
        .layui-input-block::after {
            border-color: #c6cacc;
        }
    }
    .yz-bx {
        display: flex;
        align-items: flex-end;
        padding: 0 30px;
        .my-input {
            padding: 0;
        }
    }
    .img-code {
        width: 120px;
        height: 46px;
        margin-left: 10px;
        margin-bottom: 15px;
        background-color: #ddd;
        img {
            width: 120px;
            height: 46px;
        }
    }
    .get-tel-code {
        margin-bottom: 15px;
        line-height: 2.6em;
        padding: 0 12px ;
        margin-left: 10px;
        border: 0.5px solid rgb(189, 189, 189);
        border-radius: 18px;
        font-size: 12px;
        color: #999;
    }
}

// 注册
#regitser {
    // font-family: PingFang Medium;
    min-height: 100vh;
    padding-top: 40px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
    .login-head {
        padding-bottom: 76px;
    }
    .left-icon {
        width: 20px;
        height: 20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .right-link {
        a {
            font-family: PingFang-SC-Bold;
            color: #fff;
        }
    }

    .layui-form {
        padding: 0 30px;

        .my-input {
            .layui-input-block {
                // margin-left: 0;
            }
            input {
                height: 54px;
                line-height: 54px;
                border-radius: 27px;
                padding: 0 16px;
                border: none;
                color: #fff;
                background-color: #1690e5;
            }
            input::placeholder {
                color: #fff;
            }
        }
    }

    .tiaokuan-link {
        padding-top: 12px;
        text-align: center;
        cursor: pointer;
        a {
            color: #fff;
            em {
                margin: 0 4px;
                line-height: 1.4em;
                // text-decoration: underline;
                font-style: normal;
            }
            em::after {
                border-color: #fff;
            }
        }
    }
    .img-code {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .code-bx {
            width: 120px;
            height: 46px;
            img {
                width: 120px;
                height: 46px;
            }
        }
    }
    .tel-code {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .get-tel-code {
        height: 54px;
        line-height: 54px;
        border-radius: 27px;
        padding: 0 16px;
        border: none;
        color: #fff;
        background-color: #1690e5;
    }
}

// 注册协议
#registerText {
    position: relative;
    padding-bottom: 30px;
    .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
    }
    h1 {
        padding: 30px 30px 0;
        text-align: center;
        font-family: PingFang-SC-Bold;
        font-size: 20px;
        color: #000;
    }
    p {
        padding: 0 30px;
        margin-top: 30px;
        line-height: 1.4em;
        text-indent: 2em;
        color: #000;
    }

}