@import 'StyleDepend/mReset.css';
@import 'common.css';
#sendMsg {
  min-height: 100vh;
  background-color: #f0f0f0;
}
#sendMsg .my-head {
  background-color: #fff;
}
#sendMsg .main-screen {
  height: calc(100vh - 102px);
  overflow-y: scroll;
}
#sendMsg .main-screen .msg-item {
  padding: 20px 15px;
}
#sendMsg .main-screen .msg-item .msg-time {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  font-size: 12px;
}
#sendMsg .main-screen .msg-item .msg-time .time {
  display: inline-block;
  padding: 0 8px;
  line-height: 2em;
  border-radius: 4px;
  background-color: #ccc;
}
#sendMsg .main-screen .msg-item .main-item {
  display: flex;
}
#sendMsg .main-screen .msg-item img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}
#sendMsg .main-screen .msg-item .content {
  line-height: 1.4em;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}
#sendMsg .main-screen .left .main-item {
  padding-right: 50px;
}
#sendMsg .main-screen .left .content {
  margin-left: 10px;
}
#sendMsg .main-screen .right .main-item {
  padding-left: 50px;
}
#sendMsg .main-screen .right .content {
  margin-right: 10px;
  background-color: #6ec7ff;
  color: #fff;
}
#friendList .my-head,
#addFriend .my-head {
  background-color: #6ec7ff;
  color: #fff;
}
#friendList .search,
#addFriend .search {
  margin: 15px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #ededee;
}
#friendList .search img,
#addFriend .search img {
  width: 24px;
  height: 24px;
}
#friendList .search input,
#addFriend .search input {
  margin-left: 10px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #b2b3b5;
  background-color: #ededee;
}
#friendList .main-list li,
#addFriend .main-list li {
  margin: 0 10px;
  padding: 8px 0px;
  border-bottom: 1px solid #edeeee;
}
#friendList .main-list li a,
#addFriend .main-list li a {
  display: flex;
  width: calc(100vw - 20px);
}
#friendList .main-list .left,
#addFriend .main-list .left {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}
#friendList .main-list .left img,
#addFriend .main-list .left img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}
#friendList .main-list .left .name-dex,
#addFriend .main-list .left .name-dex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 0px 5px 10px;
}
#friendList .main-list .left .name-dex .name,
#addFriend .main-list .left .name-dex .name {
  line-height: 2em;
}
#friendList .main-list .left .name-dex .content,
#addFriend .main-list .left .name-dex .content {
  width: 180px;
  display: inline-block;
  overflow: hidden;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
#friendList .main-list .right,
#addFriend .main-list .right {
  width: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
#friendList .main-list .right .add-btn,
#addFriend .main-list .right .add-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  background-color: #6ec7ff;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .pass-btn,
#addFriend .main-list .right .pass-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  background-color: #58b955;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .refuse-btn,
#addFriend .main-list .right .refuse-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  margin: 6px 0;
  font-size: 14px;
  background-color: #ff6e6e;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .waitting,
#addFriend .main-list .right .waitting {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  background-color: #b8b8b8;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .send-btn,
#addFriend .main-list .right .send-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  background-color: #6e7dff;
  cursor: pointer;
}
#friendList .main-list .right .top-time,
#addFriend .main-list .right .top-time {
  font-size: 12px;
}
#friendList .main-list .right .num,
#addFriend .main-list .right .num {
  display: inline-block;
  line-height: 1.6em;
  padding: 0 4px;
  font-size: 12px;
  margin-bottom: 8px;
  color: #fff;
  border-radius: 4px;
  background-color: #fd1c1c;
}
#friendList .main-list .btn,
#addFriend .main-list .btn {
  justify-content: center;
  cursor: pointer;
}
#login {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
}
#login .login-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#login .left-icon {
  width: 20px;
  height: 20px;
}
#login .left-icon img {
  width: 20px;
  height: 20px;
}
#login .right-link a {
  font-weight: bold;
  color: #fff;
}
#login .logo-img {
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
}
#login .logo-img h1 {
  width: 170px;
  height: 170px;
  padding: 40px 30px;
  box-sizing: content-box;
  margin: 0 auto;
}
#login .logo-img img {
  width: 170px;
  height: 170px;
}
#login .layui-form {
  padding: 0 30px;
}
#login .layui-form .my-input .layui-input-block {
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  border-radius: 27px;
  padding: 0 16px;
  background-color: #1690e5;
}
#login .layui-form .my-input input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #1690e5;
}
#login .layui-form .my-input input::placeholder {
  color: #fff;
}
#login .forget-link {
  padding-top: 12px;
  text-align: center;
}
#login .forget-link a {
  color: #fff;
}
#forget {
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 100vh;
}
#forget .my-input {
  padding: 0 30px;
}
#forget .back-login {
  padding: 0 10px;
  line-height: 20px;
}
#forget .back-login a {
  color: #6ec7ff;
}
#forget .my-input {
  flex: 1;
}
#forget .my-input .layui-form-label {
  font-weight: bold;
}
#forget .my-input input {
  border: none;
  height: auto;
  line-height: 1em;
  padding-bottom: 20px;
  padding-left: 0;
}
#forget .my-input input:placeholder {
  color: #999;
}
#forget .my-input .layui-input-block::after {
  border-color: #c6cacc;
}
#forget .yz-bx {
  display: flex;
  align-items: flex-end;
  padding: 0 30px;
}
#forget .yz-bx .my-input {
  padding: 0;
}
#forget .img-code {
  width: 120px;
  height: 46px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #ddd;
}
#forget .img-code img {
  width: 120px;
  height: 46px;
}
#forget .get-tel-code {
  width: 85px;
  margin-bottom: 15px;
  line-height: 2.6em;
  padding: 0 12px;
  margin-left: 10px;
  border: 0.5px solid #1690e5;
  background-color: #1690e5;
  border-radius: 18px;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
#regitser {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
}
#regitser .login-head {
  padding-bottom: 30px;
}
#regitser .left-icon {
  width: 20px;
  height: 20px;
}
#regitser .left-icon img {
  width: 20px;
  height: 20px;
}
#regitser .right-link a {
  font-weight: bold;
  color: #fff;
}
#regitser .layui-form {
  padding: 0 30px;
}
#regitser .layui-form .my-input .layui-input-block {
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  border-radius: 27px;
  padding: 0 16px;
  background-color: #1690e5;
}
#regitser .layui-form .my-input input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #1690e5;
}
#regitser .layui-form .my-input input::placeholder {
  color: #fff;
}
#regitser .tiaokuan-link {
  padding-top: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
#regitser .tiaokuan-link .xuanzhong-icon {
  width: 12px;
  height: 12px;
}
#regitser .tiaokuan-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#regitser .tiaokuan-link a em {
  margin: 0 4px;
  line-height: 1.4em;
  font-style: normal;
}
#regitser .tiaokuan-link a em::after {
  border-color: #fff;
}
#regitser .img-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#regitser .img-code .code-bx {
  width: 120px;
  height: 46px;
  margin: 0 5px;
}
#regitser .img-code .code-bx img {
  width: 120px;
  height: 46px;
}
#regitser .tel-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#regitser .get-tel-code {
  height: 54px;
  width: 112px;
  text-align: center;
  line-height: 54px;
  border-radius: 27px;
  padding: 0 16px;
  border: none;
  margin: 0 5px;
  color: #fff;
  background-color: #1690e5;
  cursor: pointer;
}
#registerText {
  position: relative;
  padding-bottom: 30px;
}
#registerText .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}
#registerText h1 {
  padding: 30px 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
#registerText p {
  padding: 0 30px;
  margin-top: 30px;
  line-height: 1.4em;
  text-indent: 2em;
  color: #000;
}
.top-head {
  height: 150px;
  width: 100vw;
  padding: 16px 16px 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-head .msg-bx {
  height: 37px;
}
.top-head .msg-bx a {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.top-head .msg-bx a .msg-num {
  position: absolute;
  right: -6px;
  top: -6px;
  color: #fff;
  background-color: #1690e5;
  padding: 0 4px;
  line-height: 1.6em;
  font-size: 12px;
}
.top-head .msg-bx a img {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.top-head .head-bx {
  display: flex;
  align-items: center;
  color: #333;
}
.top-head .head-bx span {
  padding-left: 10px;
  font-size: 16px;
}
.top-head .logo-bx {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #1690e5;
}
.top-head .user-pic {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.top-head .des-bx {
  position: relative;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.top-head .des-bx .user-des .name {
  width: 100px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2;
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.4);
}
.top-head .des-bx .add-fr {
  position: absolute;
  border: 0.5px solid #fff;
  line-height: 2em;
  padding: 0 8px;
  right: 10px;
  top: 50%;
  line-height: 33px;
  transform: translateY(-50%);
}
#setUserInfo {
  min-height: calc(100vh - 50px);
  background-color: #f2f2f2;
}
#setUserInfo form {
  padding-top: 1px;
}
#setUserInfo form .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 0.5px solid #f2f2f2;
}
#setUserInfo form .item .pic {
  position: relative;
}
#setUserInfo form .item .preview {
  object-fit: cover;
}
#setUserInfo form .item .upload-area {
  width: 70px;
  height: 70px;
}
#setUserInfo form .item .bianji {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
#setUserInfo form .item .file-input {
  border: none;
  background-color: transparent;
  width: 70px;
  height: 70px;
  opacity: 0;
  position: absolute;
  top: 61px;
  right: 15px;
  z-index: 99;
  font-size: 6.5rem;
}
#setUserInfo form .item .pic-bx {
  width: 70px;
  height: 70px;
}
#setUserInfo form .item .pic-bx img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#setUserInfo form .item .user-name {
  border: none;
  text-align: right;
  color: #808080;
}
#setUserInfo form .sub-bx {
  padding: 40px 15px 0;
}
#setUserInfo form .sub-bx .submit-btn {
  width: 100%;
  line-height: 3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #6ec7ff;
}
/* uploadImage css begin*/
/* uploadImage css end*/
