@import 'StyleDepend/mReset.css';
#zhiboWrap .chat-bx {
  height: calc(100vh - 325px) !important;
}
#zhiboWrap .video-bx {
  background-color: transparent !important;
}
#zhiboWrap .showthisd {
  height: calc(100vh - 327px) !important;
}
#showList {
  height: calc(100vh - 274px) !important;
  overflow-y: scroll;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
}
#showList .show-list {
  height: calc(100vh - 254px) !important;
}
#showList ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 0.3px solid #ececec;
}
#showList ul li .left {
  display: flex;
}
#showList ul li .left .title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  margin-right: 4px;
}
#showList ul li .left .name {
  font-size: 14px;
  color: #808080;
}
#showList ul li .right {
  font-size: 14px;
  color: #808080;
}
#showList ul li .right .zhibo {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #6ec7ff;
  color: #fff;
}
#showList ul li .right .reListen {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #ffa900;
  color: #fff;
}
#showList ul .pass {
  color: #808080 !important;
}
#showList ul .now:before {
  content: '';
  position: absolute;
  border-style: solid;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  border-width: 7px;
  border-color: transparent transparent transparent #6ec7ff;
}
#showList ul .now:after {
  content: '直播中...';
  position: absolute;
  right: 45px;
  font-size: 14px;
}
#showList ul .now {
  color: #6ec7ff;
}
#showList ul .past {
  color: #cac7c7;
}
#showList ul .zhibo-bx .title {
  color: #6ec7ff;
}
#showList ul .zhibo-bx .name {
  color: #6ec7ff !important;
}
#showList ul .zhibo-bx span {
  color: #6ec7ff;
}
#sendMsg {
  min-height: 100vh;
  background-color: #f0f0f0;
}
#sendMsg .my-head {
  background-color: #fff;
}
#sendMsg .main-screen {
  height: calc(100vh - 102px);
  overflow-y: scroll;
}
#sendMsg .main-screen .msg-item {
  padding: 10px 15px;
}
#sendMsg .main-screen .msg-item .msg-time {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  font-size: 12px;
}
#sendMsg .main-screen .msg-item .msg-time .time {
  display: inline-block;
  padding: 0 8px;
  line-height: 2em;
  border-radius: 4px;
  background-color: #e5e5e5;
}
#sendMsg .main-screen .msg-item .main-item {
  display: flex;
  align-items: center;
}
#sendMsg .main-screen .msg-item img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}
#sendMsg .main-screen .msg-item .content {
  line-height: 1.4em;
  padding: 10px;
  word-break: break-all;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}
#sendMsg .main-screen .left .main-item {
  padding-right: 50px;
}
#sendMsg .main-screen .left .content {
  margin-left: 10px;
}
#sendMsg .main-screen .right .main-item {
  justify-content: flex-end;
  padding-left: 50px;
}
#sendMsg .main-screen .right .content {
  margin-right: 10px;
  background-color: #6ec7ff;
  color: #fff;
}
#friendList .my-head,
#addFriend .my-head {
  background-color: #6ec7ff;
  color: #fff;
}
#friendList .search,
#addFriend .search {
  margin: 15px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #ededee;
}
#friendList .search img,
#addFriend .search img {
  width: 24px;
  height: 24px;
}
#friendList .search input,
#addFriend .search input {
  margin-left: 10px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 16px;
  color: #b2b3b5;
  background-color: #ededee;
}
#friendList .main-list li,
#addFriend .main-list li {
  margin: 0 10px;
  padding: 8px 0px;
  border-bottom: 1px solid #edeeee;
  display: flex;
}
#friendList .main-list li a,
#addFriend .main-list li a {
  width: calc(100vw - 20px);
}
#friendList .main-list .left,
#addFriend .main-list .left {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}
#friendList .main-list .left img,
#addFriend .main-list .left img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}
#friendList .main-list .left .name-dex,
#addFriend .main-list .left .name-dex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px 0px 5px 10px;
}
#friendList .main-list .left .name-dex .name,
#addFriend .main-list .left .name-dex .name {
  line-height: 2em;
}
#friendList .main-list .left .name-dex .content,
#addFriend .main-list .left .name-dex .content {
  width: 180px;
  display: inline-block;
  overflow: hidden;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}
#friendList .main-list .right,
#addFriend .main-list .right {
  width: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  text-align: center;
}
#friendList .main-list .right .add-btn,
#addFriend .main-list .right .add-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  background-color: #6ec7ff;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .pass-btn,
#addFriend .main-list .right .pass-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  background-color: #58b955;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .refuse-btn,
#addFriend .main-list .right .refuse-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  margin: 6px 0;
  font-size: 14px;
  background-color: #ff6e6e;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .waitting,
#addFriend .main-list .right .waitting {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  background-color: #b8b8b8;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
#friendList .main-list .right .send-btn,
#addFriend .main-list .right .send-btn {
  display: inline-block;
  padding: 0 6px;
  line-height: 2em;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  background-color: #6e7dff;
  cursor: pointer;
}
#friendList .main-list .right .top-time,
#addFriend .main-list .right .top-time {
  margin-top: 5px;
  font-size: 12px;
}
#friendList .main-list .right .num,
#addFriend .main-list .right .num {
  display: inline-block;
  line-height: 1.6em;
  padding: 0 4px;
  font-size: 12px;
  margin-bottom: 8px;
  color: #fff;
  border-radius: 4px;
  background-color: #fd1c1c;
}
#friendList .main-list .btn,
#addFriend .main-list .btn {
  justify-content: center;
  cursor: pointer;
}
#friendList .main-list .btn-del,
#addFriend .main-list .btn-del {
  line-height: 1.8em;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 4px;
  color: #fff;
  background-color: #f50;
}
#login {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
}
#login .login-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#login .left-icon {
  width: 20px;
  height: 20px;
}
#login .left-icon img {
  width: 20px;
  height: 20px;
}
#login .right-link a {
  font-weight: bold;
  color: #fff;
}
#login .logo-img {
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
}
#login .logo-img h1 {
  width: 170px;
  height: 170px;
  padding: 40px 30px;
  box-sizing: content-box;
  margin: 0 auto;
}
#login .logo-img img {
  width: 170px;
  height: 170px;
}
#login .layui-form {
  padding: 0 30px;
}
#login .layui-form .my-input .layui-input-block {
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  border-radius: 27px;
  padding: 0 16px;
  background-color: #1690e5;
}
#login .layui-form .my-input input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #1690e5;
}
#login .layui-form .my-input input::placeholder {
  color: #fff;
}
#login .layui-form .my-input input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
#login .forget-link {
  padding-top: 12px;
  text-align: center;
}
#login .forget-link a {
  color: #fff;
}
#forget {
  padding-top: 76px;
  padding-bottom: 32px;
  min-height: 100vh;
}
#forget .my-input {
  padding: 0 30px;
}
#forget .back-login {
  padding: 0 10px;
  line-height: 20px;
}
#forget .back-login a {
  color: #6ec7ff;
}
#forget .my-input {
  flex: 1;
}
#forget .my-input .layui-form-label {
  display: inline-block;
  margin-top: 12px;
  padding: 0;
  font-size: 14px;
  width: 100%;
}
#forget .my-input input {
  border: none;
  height: auto;
  line-height: 1em;
  padding: 10px 0;
  padding-left: 0;
}
#forget .my-input input:placeholder {
  color: #999;
}
#forget .my-input .layui-input-block::after {
  border-color: #c6cacc;
}
#forget .yz-bx {
  display: flex;
  align-items: flex-end;
  padding: 0 30px;
}
#forget .yz-bx .my-input {
  padding: 0;
}
#forget .img-code {
  width: 120px;
  height: 46px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #ddd;
}
#forget .img-code img {
  width: 120px;
  height: 46px;
}
#forget .get-tel-code {
  width: 85px;
  margin-bottom: 15px;
  line-height: 2.6em;
  padding: 0 12px;
  margin-left: 10px;
  border: 0.5px solid #1690e5;
  background-color: #1690e5;
  border-radius: 18px;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
#register {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 32px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
}
#register .login-head {
  padding-bottom: 30px;
}
#register .left-icon {
  width: 20px;
  height: 20px;
}
#register .left-icon img {
  width: 20px;
  height: 20px;
}
#register .right-link a {
  font-weight: bold;
  color: #fff;
}
#register .layui-form {
  padding: 0 30px;
}
#register .layui-form .my-input .layui-input-block {
  height: 54px;
  line-height: 54px;
  vertical-align: middle;
  border-radius: 27px;
  padding: 0 16px;
  background-color: #1690e5;
}
#register .layui-form .my-input input {
  display: inline-block;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background-color: #1690e5;
}
#register .layui-form .my-input input::placeholder {
  color: #fff;
}
#register .tiaokuan-link {
  padding-top: 12px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
#register .tiaokuan-link .xuanzhong-icon {
  width: 12px;
  height: 12px;
}
#register .tiaokuan-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
#register .tiaokuan-link a em {
  margin: 0 4px;
  line-height: 1.4em;
  font-style: normal;
}
#register .tiaokuan-link a em::after {
  border-color: #fff;
}
#register .img-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#register .img-code .code-bx {
  width: 120px;
  height: 46px;
  margin: 0 5px;
}
#register .img-code .code-bx img {
  width: 120px;
  height: 46px;
}
#register .tel-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#register .get-tel-code {
  height: 54px;
  width: 112px;
  text-align: center;
  line-height: 54px;
  border-radius: 27px;
  padding: 0 16px;
  border: none;
  margin: 0 5px;
  color: #fff;
  background-color: #1690e5;
  cursor: pointer;
}
#registerText {
  position: relative;
  padding-bottom: 30px;
}
#registerText .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}
#registerText h1 {
  padding: 30px 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
#registerText p {
  padding: 0 30px;
  margin-top: 30px;
  line-height: 1.4em;
  text-indent: 2em;
  color: #000;
}
.top-head {
  height: 128px;
  width: 100vw;
  padding: 36px 16px 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-head .msg-bx {
  height: 37px;
}
.top-head .msg-bx a {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.top-head .msg-bx a .msg-num {
  position: absolute;
  right: -6px;
  top: -6px;
  color: #fff;
  background-color: #1690e5;
  padding: 0 4px;
  line-height: 1.6em;
  font-size: 12px;
}
.top-head .msg-bx a img {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.top-head .head-bx {
  display: flex;
  align-items: center;
  color: #333;
}
.top-head .head-bx span {
  padding-left: 10px;
  font-size: 16px;
}
.top-head .logo-bx {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #1690e5;
}
.top-head .user-pic {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.top-head .des-bx {
  position: relative;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.top-head .des-bx .user-des .name {
  width: 100px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2;
  padding: 0 4px;
  background-color: rgba(0, 0, 0, 0.4);
}
.top-head .des-bx .add-fr {
  position: absolute;
  border: 0.5px solid #fff;
  line-height: 2em;
  padding: 0 8px;
  right: 10px;
  top: 50%;
  line-height: 33px;
  transform: translateY(-50%);
}
#setUserInfo {
  min-height: calc(100vh - 50px);
  background-color: #f2f2f2;
}
#setUserInfo form {
  padding-top: 1px;
}
#setUserInfo form .item {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 0.5px solid #f2f2f2;
}
#setUserInfo form .item label {
  display: inline-block;
  width: 100px;
  position: relative;
}
#setUserInfo form .item .my-name {
  display: inline-block;
  width: 100px;
  border: none;
  text-align: right;
  -webkit-appearance: none;
  color: #808080;
}
#setUserInfo form .item .nickname-bx {
  white-space: nowrap;
  display: inline-block;
  text-align: right;
}
#setUserInfo form .item .preview {
  object-fit: cover;
}
#setUserInfo form .item .upload-area {
  width: 70px;
  height: 70px;
}
#setUserInfo form .item .J_UploadBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 70px;
  width: 70px;
}
#setUserInfo form .item .bianji {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
#setUserInfo form .item .file-input {
  border: none;
  background-color: transparent;
  width: 70px;
  height: 70px;
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  font-size: 6.5rem;
}
#setUserInfo form .item .pic-bx {
  width: 70px;
  height: 70px;
}
#setUserInfo form .item .pic-bx img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#setUserInfo form .item .user-name {
  display: inline-block;
  width: 200px;
  border: none;
  text-align: right;
  color: #808080;
}
#setUserInfo form .sub-bx {
  padding: 40px 15px 0;
}
#setUserInfo form .sub-bx .submit-btn {
  width: 100%;
  line-height: 3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #6ec7ff;
}
/* uploadImage css begin*/
/* uploadImage css end*/
#videoMode {
  padding-top: 40px;
  background-size: cover;
  background-position: center;
}
#videoMode #myVideo {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}
#videoMode .video-bx {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: #eee;
}
#videoMode .video-bx .prism-player {
  width: 100%;
  height: 190px;
}
#videoMode .video-zhibo {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 16px;
  color: #fa6666;
}
#videoMode .video-title {
  position: absolute;
  display: inline-block;
  left: 40px;
  top: 85px;
  font-size: 26px;
  color: #1690e5;
}
#videoMode .play-img,
#videoMode .pause-img {
  position: absolute;
  right: 40px;
  top: 104px;
  width: 64px;
  height: 64px;
}
#newFatie {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 999999;
  background-color: #fff;
}
#newFatie .layui-form-radio {
  padding: 0;
  margin: 0 4px 4px 0;
}
#newFatie .layui-form .layui-form-item {
  margin-bottom: 0;
}
#newFatie .layui-form .layui-form-item .cancle-btn {
  background-color: #ef4242 !important;
}
#newFatie .layui-form .first-item {
  margin-top: 5px;
}
#newFatie .layui-form .main-content {
  min-height: calc(100vh - 164px);
}
#newFatie .layui-form .main-content .fenlei-tag {
  padding: 0 10px;
}
#newFatie .layui-form .main-content .layui-form-radio > i:hover,
#newFatie .layui-form .main-content .layui-form-radioed > i {
  color: #6ec7ff;
}
#newFatie .layui-form .main-content .layui-textarea {
  min-height: 140px;
}
#newFatie .layui-form .main-content .img-show-bx {
  font-size: 0;
}
#newFatie .layui-form .main-content .img-show-bx .show-test-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
#newFatie .layui-form .main-content .img-show-bx ul {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
}
#newFatie .layui-form .main-content .img-show-bx li {
  position: relative;
  width: calc(33.33vw - 9px);
  height: calc(33.33vw - 4px);
  padding: 2px;
}
#newFatie .layui-form .main-content .img-show-bx .del-icon-full {
  position: fixed;
  top: 175px;
  left: 20px;
  z-index: 99;
  width: 24px;
  height: 24px;
}
#newFatie .layui-form .main-content .img-show-bx #video2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
}
#newFatie .layui-form .main-content .img-show-bx .set-poster span {
  display: inline-block;
  padding: 0 10px;
  margin: 10px;
  font-size: 14px;
  line-height: 2em;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
#newFatie .layui-form .main-content .img-show-bx .del-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 4px;
  z-index: 1000;
}
#newFatie .layui-form .main-content .img-show-bx .main-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#newFatie .layui-form .main-content .img-show-bx #video {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -101px;
}
#newFatie .layui-form .main-content .img-show-bx .shuping-video {
  top: 0 !important;
  margin-top: 0 !important;
}
#newFatie .layui-form .main-content .img-show-bx .v-bx {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1100;
  width: 100%;
  height: 100%;
}
#newFatie .layui-form .main-content .img-show-bx .v-bx .btn-video {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 1000;
}
#newFatie .layui-form .main-content .img-show-bx #video::-webkit-media-controls {
  display: none !important;
}
#newFatie .layui-form .main-content .img-show-bx .shuping {
  display: inline-block;
  width: 58%;
  height: auto;
}
#newFatie .layui-form .main-content .img-show-bx .hengping {
  display: inline-block;
  width: calc(100% - 6px);
  height: auto;
}
#newFatie .layui-form .main-content .img-show-bx #videoPoster {
  position: relative;
  margin: 0 3px;
}
#newFatie .layui-form .main-content .img-show-bx #videoPoster .poster-img {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
}
#newFatie .layui-form .main-content .img-show-bx #videoPoster .btn-video {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 1000;
}
#newFatie .layui-form .main-content .img-show-bx #videoPoster .del-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  border-bottom-left-radius: 4px;
}
#newFatie .layui-form .main-content .img-show-bx #videoPoster::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}
#newFatie .layui-form .layui-input-block {
  margin-left: 0;
  line-height: 3em;
}
#newFatie .layui-form .layui-input-block input,
#newFatie .layui-form .layui-input-block textarea {
  font-weight: normal;
  border: none;
  resize: none;
}
#newFatie .layui-form .layui-input-block input::placeholder {
  color: #b8b8b8;
}
#newFatie .layui-form .layui-input-block textarea::placeholder {
  color: #b8b8b8;
}
#newFatie .layui-form .btn-bx {
  padding: 10px;
  text-align: right;
}
#newFatie .layui-form .fasong-fs {
  margin-right: 10px;
}
#newFatie .layui-form .layui-btn {
  background-color: #6ec7ff;
}
#newFatie .layui-form .disabled {
  background-color: #ddd;
}
#newFatie .footer-btns .loc {
  line-height: 20px;
  padding: 10px;
  font-size: 12px;
}
#newFatie .footer-btns .loc .loc-text {
  color: #808080;
}
#newFatie .footer-btns .loc img {
  display: inline-block;
  width: 20px;
  vertical-align: sub;
}
#newFatie .footer-btns .col-cell {
  display: flex;
  align-items: center;
  padding: 10px;
}
#newFatie .footer-btns .col-cell .banded {
  background-color: rgba(0, 0, 0, 0.6);
}
#newFatie .footer-btns .col-cell img {
  width: 28px;
  height: auto;
  margin-right: 35px;
}
#newFatie .footer-btns .col-cell .photo-img {
  padding-top: 6px;
}
#newFatie .link-bx {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: #FFF;
  display: none;
}
#newFatie .link-bx .layui-form-item {
  margin-bottom: 4px;
}
#newFatie .link-bx .btn-bx {
  position: absolute;
  right: 10px;
  bottom: 96px;
  text-align: right;
}
#newFatie .link-bx .cancelBtn {
  background-color: #ef4242;
}
#newFatie .link-bx .fenlei-tag {
  padding: 0 10px;
}
#newFatie .link-bx .layui-form-radio > i:hover,
#newFatie .link-bx .layui-form-radioed > i {
  color: #6ec7ff;
}
#refresh,
#goTop,
#gohome {
  position: fixed;
  text-align: center;
  z-index: 999999999;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#refresh a,
#goTop a,
#gohome a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fff;
}
#refresh a img,
#goTop a img,
#gohome a img {
  display: inline-block;
  width: 26px;
  height: 26px;
}
#goTop {
  bottom: 188px;
  right: 10px;
}
#gohome {
  bottom: 60px;
  right: 10px;
}
#gohome a {
  color: #1690e5;
}
#refresh {
  bottom: 138px;
  right: 10px;
}
#zhengwen .xiala {
  font-size: 14px;
  display: inline-block;
  width: 24px;
  height: 24px;
}
#zhengwen .tiezi-bx {
  width: 100%;
  color: #111;
  font-size: 16px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tieziInfo .content-bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#tieziInfo .li-item {
  width: 100%;
  margin-right: 1.6em;
  max-height: 100%;
  text-align: center;
}
#tieziInfo .li-item img {
  display: inline-block;
  width: 80%;
  margin-top: 5px;
  padding-right: 10px;
  object-fit: cover;
}
#tieziInfo .new-huifu-pn {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  display: none;
}
#tieziInfo .hf-mask {
  flex: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#tieziInfo .upImg {
  height: calc(100vh - 312px);
}
#tieziInfo .hfhf {
  height: calc(100vh - 210px);
}
#tieziInfo .new-huifu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
#tieziInfo .new-huifu .title {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  font-size: 14px;
  padding: 0 10px;
  border-bottom: 0.5px solid #ddd;
}
#tieziInfo .new-huifu .title .fabiao {
  display: inline-block;
  background: -webkit-linear-gradient(left, #6ec7ff, #22aaff) no-repeat;
  padding: 0px 12px;
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
  color: #fff;
}
#tieziInfo form .img-bx {
  padding: 0 10px;
  margin-bottom: 10px;
}
#tieziInfo form .img-bx img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 6px;
  object-fit: cover;
  vertical-align: bottom;
}
#tieziInfo form .img-bx .re-upload {
  display: inline-block;
  line-height: 1.6em;
  padding: 0 10px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
#tieziInfo form textarea {
  width: 100%;
  height: 160px;
  padding: 6px 10px;
  line-height: 1.4em;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
#tieziInfo form .bot-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 0;
}
#tieziInfo form .bot-img img {
  display: inline-block;
  width: 28px;
  height: auto;
  margin-right: 35px;
}
#zhengwen-bx .tz-list-none {
  display: inline-block;
  line-height: 2em;
  font-size: 16px;
  text-align: center;
}
#newListShow,
#newshlist {
  min-height: 100vh;
  padding-bottom: 48px;
  background-color: #f0f0f1;
}
#newListShow .head-title,
#newshlist .head-title {
  margin-bottom: 0;
}
.my-newindex #refresh,
.my-newpartake #refresh {
  bottom: 10px;
}
.my-newindex #goTop,
.my-newpartake #goTop {
  bottom: 60px;
}
.pl-pn {
  padding-bottom: 50px;
  margin-bottom: 5px;
}
.pl-pn .tz-hf-item {
  padding-top: 10px;
  background-color: #fff;
}
.pl-pn ul li img {
  vertical-align: middle;
}
.footer {
  border-top: 0.5px solid #ddd;
}
.footer .huifu-btn {
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
  border-radius: 4px;
}
.weui-cell__bd p {
  margin-top: 4px;
}
#myselfZb {
  position: relative;
  height: calc(100vh - 274px) !important;
  overflow-y: scroll;
  padding-bottom: 60px;
  background-color: #f0f0f1;
}
#myselfZb .text-ts {
  display: block;
  width: 61%;
  padding: 10px 0;
  margin: 10px auto 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #ddd;
  color: #fff;
}
#myselfZb #chatBx .chat-item {
  padding: 10px 10px 0;
  margin-bottom: 5px;
}
#myselfZb #chatBx .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#myselfZb #chatBx .item-left a {
  display: flex;
  align-items: center;
}
#myselfZb #chatBx .item-left a .tx {
  width: 34px;
  height: 34px;
  margin-right: 6px;
  border-radius: 100%;
  object-fit: cover;
}
#myselfZb #chatBx .item-left a .right div {
  line-height: 1.4em;
}
#myselfZb #chatBx .item-left a .right .time {
  font-size: 12px;
  color: #808080;
}
#myselfZb #chatBx .item-right .banuser,
#myselfZb #chatBx .item-right .clearwords,
#myselfZb #chatBx .item-right .letout {
  display: inline-block;
  line-height: 24px;
  padding: 0 5px;
  margin: 0 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
#myselfZb .item-con {
  display: inline-block;
  position: relative;
  padding: 5px 12px;
  margin: 0 40px;
  border-radius: 4px;
}
#myselfZb .text-con {
  background-color: #fff;
}
#myselfZb .text-con::before {
  content: '';
  position: absolute;
  top: -13px;
  left: 10px;
  z-index: 999;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
#myselfZb .words {
  display: inline-block;
  word-break: break-all;
}
#myselfZb .words img {
  width: 28px;
  height: auto;
}
#myselfZb .imgs {
  display: inline-block;
}
#myselfZb .img-item {
  display: inline-block;
  width: 120px;
  height: auto;
  height: 190px;
  border-radius: 6px;
  object-fit: cover;
}
#myselfZb .biaoqing img {
  width: 28px;
  height: auto;
}
#myselfZb .control-pn {
  position: fixed;
  bottom: 48px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
}
#myselfZb .control-pn .bx {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}
#myselfZb .control-pn .upPic {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}
#myselfZb .control-pn #zbtextarea {
  flex: 1;
  height: 34px;
  line-height: 1.2em;
  padding-top: 8px;
  padding-left: 4px;
  margin: 0 8px;
  resize: none;
  font-size: 14px;
  border-radius: 2px;
  -webkit-appearance: none;
}
#myselfZb .control-pn .bqbtn,
#myselfZb .control-pn .jianpanbtn {
  width: 28px;
  height: 28px;
  margin-right: 5px;
  margin-bottom: 4px;
}
#myselfZb .control-pn .jianpanbtn {
  display: none;
}
#myselfZb .control-pn .fasongbtn {
  height: 30px;
  line-height: 30px;
  margin-bottom: 4px;
}
#myselfZb .bq-bx {
  padding: 10px;
  background-color: #f0f0f1;
  display: none;
}
#myselfZb .browlist {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
  margin: 0 auto;
}
#myselfZb .browlist li {
  position: relative;
  margin: 0 4px;
}
#myselfZb .browlist li img {
  width: 28px;
  height: auto;
}
.TAstate li {
  width: 50%;
  height: 34px;
  line-height: 34px;
  color: #808080;
  text-align: center;
  float: left;
  cursor: pointer;
}
.fixedfile #videoMode .video-bx {
  background-color: transparent;
}
.content .fixedfile {
  width: 100%;
  z-index: 3;
  overflow: hidden;
}
.content .TAstate {
  height: 34px;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  max-width: 640px;
}
.content .borb {
  border-bottom: 1px solid #f2f2f2;
}
.content .TAstate li {
  width: 50%;
  height: 34px;
  line-height: 34px;
  color: #808080;
  text-align: center;
  float: left;
  cursor: pointer;
}
.content .currentli {
  color: #6ec7ff !important;
  border-bottom: 2px solid #6ec7ff;
}
.show-fs {
  position: fixed;
  bottom: 54px;
  right: 10px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #22aaff;
}
#zhibowrap {
  margin-bottom: 48px;
}
#zhibowrap #refresh {
  bottom: 115px;
  right: 16px;
}
