@import './StyleDepend/mReset.css';
@import './common.css';

// 发送私信
#sendMsg {
    min-height: 100vh;
    background-color: #f0f0f0;

    .my-head {
        background-color: #fff;
    }

    .main-screen {
        height: calc(~"100vh - 102px");
        overflow-y: scroll;
        .msg-item {
            padding: 20px 15px;
            .msg-time {
                display: inline-block;
                width: 100%;
                text-align: center;
                margin-bottom: 18px;
                font-size: 12px;

                .time {
                    display: inline-block;
                    padding: 0 8px;
                    line-height: 2em;
                    border-radius: 4px;
                    background-color: #ccc;
                }
            }

            .main-item {
                display: flex;
            }

            img {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                object-fit: cover;
            }

            .content {
                line-height: 1.4em;
                padding: 10px;
                border-radius: 10px;
                background-color: #fff;
                font-size: 14px;
            }

        }

        .left {
            .main-item {
                padding-right: 50px;
            }

            .content {
                margin-left: 10px;
            }
        }

        .right {
            .main-item {
                padding-left: 50px;
            }

            .content {
                margin-right: 10px;
                background-color: #6ec7ff;
                color: #fff;
            }
        }
    }

}

// 好友列表
#friendList,
#addFriend {
    .my-head {
        background-color: #6ec7ff;
        color: #fff;
    }

    .search {
        margin: 15px;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        border-radius: 6px;
        background-color: #ededee;

        img {
            width: 24px;
            height: 24px;
        }

        input {
            margin-left: 10px;
            -webkit-appearance: none;
            border: none;
            outline: none;
            font-size: 16px;
            color: #b2b3b5;
            background-color: #ededee;
        }
    }

    .main-list {
        .list {}

        li {
            margin: 0 10px;
            padding: 8px 0px;
            border-bottom: 1px solid #edeeee;

            a {
                display: flex;
                width: calc(~"100vw - 20px");
            }
        }

        .left {
            display: flex;
            align-items: center;
            flex: 1;
            position: relative;

            img {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                object-fit: cover;
            }

            .name-dex {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 5px 0px 5px 10px;

                .name {
                    line-height: 2em;
                }

                .content {
                    width: 180px;
                    display: inline-block;
                    overflow: hidden;
                    line-height: 2em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: #999;
                }
            }
        }

        .right {
            width: 108px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px;
            .add-btn {
                display: inline-block;
                padding: 0 6px;
                line-height: 2em;
                border-radius: 6px;
                font-size: 14px;
                background-color: #6ec7ff;
                color: #fff;
                cursor: pointer;
            }
            .pass-btn {
                display: inline-block;
                padding: 0 6px;
                line-height: 2em;
                border-radius: 6px;
                font-size: 14px;
                background-color: #58b955;
                color: #fff;
                cursor: pointer;
            }
            .refuse-btn{
                display: inline-block;
                padding: 0 6px;
                line-height: 2em;
                border-radius: 6px;
                margin:6px 0;
                font-size: 14px;
                background-color: #ff6e6e;
                color: #fff;
                cursor: pointer;
            }
            .waitting {
                display: inline-block;
                padding: 0 6px;
                line-height: 2em;
                border-radius: 6px;
                background-color: #b8b8b8;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
            }

            .send-btn {
                display: inline-block;
                padding: 0 6px;
                line-height: 2em;
                border-radius: 6px;
                font-size: 14px;
                color: #fff;
                background-color: #6e7dff;
                cursor: pointer;
            }

            .top-time {
                font-size: 12px;
            }

            .num {
                display: inline-block;
                line-height: 1.6em;
                padding: 0 4px;
                font-size: 12px;
                margin-bottom: 8px;
                color: #fff;
                border-radius: 4px;
                background-color: #fd1c1c;
            }
        }
        .btn {
            justify-content: center;
            cursor: pointer;
        }
    }

}

// 登陆
#login {
    // font-family: PingFang Medium;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 32px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;

    .login-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    .left-icon {
        width: 20px;
        height: 20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .right-link {
        a {
            // font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: #fff;
        }
    }

    .logo-img {
        display: inline-block;
        width: 100%;
        box-sizing: content-box;

        h1 {
            width: 170px;
            height: 170px;
            padding: 40px 30px;
            box-sizing: content-box;
            margin: 0 auto;
        }

        img {
            width: 170px;
            height: 170px;
        }
    }

    .layui-form {
        padding: 0 30px;

        .my-input {
            .layui-input-block {
                // margin-left: 0;
                height: 54px;
                line-height: 54px;
                vertical-align: middle;
                border-radius: 27px;
                padding: 0 16px;
                background-color: #1690e5;
            }

            input {
                display: inline-block;
                -webkit-appearance: none;
                border: none;
                color: #fff;
                background-color: #1690e5;
            }

            input::placeholder {
                color: #fff;
            }
        }
    }

    .forget-link {
        padding-top: 12px;
        text-align: center;

        a {
            color: #fff;
        }
    }
}

// 忘记密码
#forget {
    // font-family: PingFang Medium;
    padding-top: 32px;
    padding-bottom: 32px;
    min-height: 100vh;

    .my-input {
        padding: 0 30px;
    }

    .back-login {
        padding: 0 10px;
        line-height: 20px;

        a {
            color: #6ec7ff;
        }
    }

    .my-input {
        flex: 1;

        .layui-form-label {
            font-weight: bold;
            // font-family: PingFang-SC-Bold;
        }

        input {
            border: none;
            height: auto;
            line-height: 1em;
            padding-bottom: 20px;
            padding-left: 0;
        }

        input:placeholder {
            color: #999;
        }

        .layui-input-block::after {
            border-color: #c6cacc;
        }
    }

    .yz-bx {
        display: flex;
        align-items: flex-end;
        padding: 0 30px;

        .my-input {
            padding: 0;
        }
    }

    .img-code {
        width: 120px;
        height: 46px;
        margin-left: 10px;
        margin-bottom: 15px;
        background-color: #ddd;

        img {
            width: 120px;
            height: 46px;
        }
    }

    .get-tel-code {
        width: 85px;
        margin-bottom: 15px;
        line-height: 2.6em;
        padding: 0 12px;
        margin-left: 10px;
        border: 0.5px solid #1690e5;
        background-color: #1690e5;
        border-radius: 18px;
        margin: 0 5px;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
}

// 注册
#regitser {
    // font-family: PingFang Medium;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 32px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;

    .login-head {
        padding-bottom: 30px;
    }

    .left-icon {
        width: 20px;
        height: 20px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .right-link {
        a {
            // font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: #fff;
        }
    }

    .layui-form {
        padding: 0 30px;

        .my-input {
            .layui-input-block {
                // margin-left: 0;
                height: 54px;
                line-height: 54px;
                vertical-align: middle;
                border-radius: 27px;
                padding: 0 16px;
                background-color: #1690e5;
            }

            input {
                display: inline-block;
                -webkit-appearance: none;
                border: none;
                color: #fff;
                background-color: #1690e5;
            }

            input::placeholder {
                color: #fff;
            }
        }
    }

    .tiaokuan-link {
        padding-top: 12px;
        text-align: center;
        cursor: pointer;
        font-size: 12px;

        .xuanzhong-icon {
            width: 12px;
            height: 12px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;

            em {
                margin: 0 4px;
                line-height: 1.4em;
                // text-decoration: underline;
                font-style: normal;
            }

            em::after {
                border-color: #fff;
            }
        }
    }

    .img-code {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .code-bx {
            width: 120px;
            height: 46px;
            margin: 0 5px;

            img {
                width: 120px;
                height: 46px;
            }
        }
    }

    .tel-code {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .get-tel-code {
        height: 54px;
        width: 112px;
        text-align: center;
        line-height: 54px;
        border-radius: 27px;
        padding: 0 16px;
        border: none;
        margin: 0 5px;
        color: #fff;
        background-color: #1690e5;
        cursor: pointer;
    }
}

// 注册协议
#registerText {
    position: relative;
    padding-bottom: 30px;

    .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
    }

    h1 {
        padding: 30px 30px 0;
        text-align: center;
        font-weight: bold;
        // font-family: PingFang-SC-Bold;
        font-size: 20px;
        color: #000;
    }

    p {
        padding: 0 30px;
        margin-top: 30px;
        line-height: 1.4em;
        text-indent: 2em;
        color: #000;
    }
}

// 主页头部 
.top-head {
    height: 150px;
    width: 100vw;
    padding: 16px 16px 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .msg-bx {
        height: 37px;

        a {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: right;

            .msg-num {
                position: absolute;
                right: -6px;
                top: -6px;
                color: #fff;
                background-color: #1690e5;
                padding: 0 4px;
                line-height: 1.6em;
                font-size: 12px;
            }

            img {
                display: inline-block;
                width: 36px;
                height: 36px;
            }
        }
    }

    .head-bx {
        display: flex;
        align-items: center;
        color: #333;

        span {
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .logo-bx {
        width: 80px;
        height: 80px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid #1690e5;
    }

    .user-pic {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: cover;
        // margin: 0 auto;
    }

    .des-bx {
        position: relative;
        margin-top: 20px;
        text-align: center;
        color: #fff;

        .user-des {
            .name {
                width: 100px;
                margin: 0 auto;
                font-size: 18px;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 2;
                padding: 0 4px;
                // border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .add-fr {
            position: absolute;
            border: 0.5px solid #fff;
            line-height: 2em;
            padding: 0 8px;
            right: 10px;
            top: 50%;
            line-height: 33px;
            transform: translateY(-50%);
        }
    }
}

// 修改个人信息
#setUserInfo {
    min-height: calc(~"100vh - 50px");
    background-color: #f2f2f2;

    form {
        padding-top: 1px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            background-color: #fff;
            border-bottom: 0.5px solid #f2f2f2;

            .pic {
                position: relative;
            }

            .preview {
                object-fit: cover;
            }

            .upload-area {
                width: 70px;
                height: 70px;
            }

            .bianji {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 70px;
                height: 70px;
                border-radius: 100%;
                font-size: 12px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .file-input {
                border: none;
                background-color: transparent;
                width: 70px;
                height: 70px;
                opacity: 0;
                position: absolute;
                top: 61px;
                right: 15px;
                z-index: 99;
                font-size: 6.5rem;
            }

            .pic-bx {
                width: 70px;
                height: 70px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }

            .user-name {
                border: none;
                text-align: right;
                color: #808080;
            }
        }

        .sub-bx {
            padding: 40px 15px 0;

            .submit-btn {
                width: 100%;
                line-height: 3;
                color: #fff;
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: #6ec7ff;
            }
        }
    }
}

/* uploadImage css begin*/
// ol, ul {
//     list-style: none;
// }
//  div, p, body, ul, h3, p{
//     margin: 0;
//     padding: 0;
//     border: 0;
//     vertical-align: baseline;
//     font-weight: 400;
// }
// .g-items img{
// 	margin: 0;
//     padding: 0;
//     border: 0;
//     vertical-align: baseline;
//     font-weight: 400;
// }
// .g-items ul {
//     background: #fff;
//     margin-bottom: 10px;
// }
// .g-items li {
//     border-bottom: 1px solid #e3e3e3;
//     border-top: 1px solid #e3e3e3;
//     line-height: 30px;
//     padding: 10px;
//     color: #999;
// }
// .g-items li.file-line .desc {
//     position: absolute;
//     left: 70px;
//     top: 15px;
//     line-height: 140%;
//     font-size: 1.2rem;
//     color: #999;
// }
// .upload-area .upload-btn {
//     border: 1px dashed #e3e3e3!important;
// }
// .upload-area .upload-btn.small .file-input {
//     width: 45px;
//     height: 45px;
//     font-size: 4.5rem;
// }
// .g-items li input {
//     text-align: right;
// }
// .upload-area .file-input {
//     opacity: 0;
//     width: 65px;
//     height: 64px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 99;
//     font-size: 6.5rem;
// }
// .g-items li.file-line {
//     position: relative;
// }
// .upload-area .preview, .upload-area .upload-btn {
//     width: 65px;
//     height: 65px;
//     display: inline-block;
//     color: #bdbdbd;
//     border: 1px solid #e3e3e3;
//     margin-right: 10px;
//     position: relative;
//     overflow: hidden;
// }
// .upload-area .preview.small, .upload-area .upload-btn.small {
//     width: 45px;
//     height: 45px !important;
//     border-style: dashed;
// }
// .upload-area .preview.small {
//     border-style: solid;
// }
// .upload-area .upload-btn {
//     background-image: url(../images/pic_add.gif);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 50%;
// }
// @-webkit-keyframes rotating {
//     from {
//         -webkit-transform: rotate(0deg)
//     }
//     to {
//         -webkit-transform: rotate(360deg)
//     }
// }
// .upload-area .upload-btn.loading {
//     background-image: url(../images/reload.png);
//     -webkit-animation: rotating 2s linear infinite;
//     animation: rotating 2s linear infinite;
//     border: none;
// }
// .des-text.title{
// 	color: #333;
// 	font-size: 14px;
// }
// .des-text.des{
// 	color: #666;
// 	font-size: 12px;
// }
// .g-img-loading {
//     background: url(../images/ajax-loader.gif) center center no-repeat;
// }
/* uploadImage css end*/